<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<link rel="stylesheet" href="/css/forms.css">
<title>Bypass Method</title>
</head>

<body>
	<nav th:fragment="navbar"
		class="navbar navbar-expand-md bg-dark navbar-dark">
		<div class="container-fluid">
			<ul class="nav navbar-nav">

				<li><a class="nav-link" th:href="@{/}">Home</a></li>

				<li><a class="nav-link" th:href="@{/allLocks}">Locks</a></li>

				<li><a class="nav-link" th:href="@{/allPick}">Lock Picks</a></li>

				<li><a class="nav-link" th:href="@{/allTension}">Tension
						Tools</a></li>

				<li><a class="nav-link, active" th:href="@{/allBypass}">Bypass
						Tools</a></li>
				<li style="float: right;"><a class="nav-link"
					th:href="@{/logout}">Sign Out</a></li>
			</ul>
		</div>
	</nav>
	<table>
		<tr th:each="bypass:${bypass}">
			<td th:text="${bypass.toString()}"></td>
		</tr>
	</table>
	<div class="center">
		<form th:action="@{/updateBypass/{id}(id=${bypass.toolId})}"
			method="GET">
			<input class="edit-and-delete-buttons" type="submit"
				value="Edit Bypass Tool" />
		</form>
		<form th:action="@{/deleteBypass/{id}(id=${bypass.toolId})}"
			method="GET">
			<input class="edit-and-delete-buttons" type="submit"
				value="Delete Bypass Tool" />
		</form>
	</div>
</body>

</html>